/*aplicare un tipo de letra distinto usando https://fonts.google.com/*/
/*para esto debemos entrar a la web seleccionar el tipo de font y seleccionarla e ir Get embed code\ @import*/ 
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');/*como ultipo pasar el nombre del tipo de letra esta despues de family= */

/*esto se puede aplicar par aun tipo de letra en este caso al body veamos*/
*{
    font-family: 'Cardo', 'Times New Roman', Times, serif; /*etiquepa para trabajar el tipo de letra font-family: */
                                                        /*donde podemos ver tipos de letras personalizados es GOOGLE FONTS*/
}


h1{
    /*considerar que los estilos en las etiqueas se pueden heredar si estan en main h2 y esta varias veces se aplica a todas
    hay maneras de que esto se aplique solo a una*/
    color:#4ef700;
    color: blue !important;
    color: rgb(255, 128, 225); /*el orden de los colores en CSS prevalece el ultimo
                                    sin embargo se puede hacer que sea otro el que prevalesca independiente el orden. con la etique !important*/
}

.contenedor{

}

#mcla{

}